.main-navbar {
  background-color: #fff;
  padding: 0.5rem 0;
  font-size: 0.75rem;
}
.main-navbar svg {
  height: 1rem;
}
.main-navbar p {
  font-size: 0.75rem;
}
.main-navbar .logout svg {
  color: var(--color-red);
  margin-top: -1px;
}
.search-button svg {
  height: calc(1rem + 6px);
}

.app-name {
  font-size: 2rem;
  margin-bottom: 0;
}
.search-button {
  border: none;
  background: none;
  box-shadow: none;
}
.search-button svg {
  color: #434343;
}
.input-wrapper input {
  border: 1px solid #434343;
  outline: none;
  padding: 0.25rem 0.5rem;
  max-width: 100%;
  width: 14rem;
}

.form-wrapper {
  margin-right: -2.5rem;
}
