.recipe {
  border-radius: var(--border-radius-1);
  background-color: var(--background-color-2);
  overflow: hidden;
  box-shadow: var(--color-1-alpha) 0px 0 20px 0px;
  transition: var(--animation);
}
.recipe:hover {
  box-shadow: none;
}
.recipe-img {
  height: 12rem;
  overflow: hidden;
}
.recipe-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recipe-body {
  padding: 1rem;
  display: block;
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}
