:root {
  --background-color: #edf7ff;
  --color-1: #85c8ff;
  --color-1-alpha: #85c8ff60;
  --text-color: #292929;
  --color-red: #ff3333;
  --animation: all 0.3s ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  margin: 0;
}
p {
  margin: 0;
  font-size: 1rem;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}
.cont {
  max-width: 1140px;
  padding: 0 1.5rem;
  margin: 0 auto;
}
